$primary: #2E45E3;
$secondary: #AEBBD3;
$white: #fdfdfd;
$light:#e5e9f5;
$accent: #6FEB94;
$gray: #98A5AE;



.text {
  &-primary {
    color: $primary;
  }

  &-secondary {
    color: $secondary;
  }

  &-accent {
    color: $accent;
  }

  &-light {
    color: $white;
  }

  &-gray {
    color: $gray;
  }
}

.bg-primary {
  color: $primary;
}